<!-- Including the header partial -->
<%- include ../partials/header.ejs %>

<!-- Including the main navigation partial -->
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <!-- Page title -->
            <h1><%= title %></h1>

            <!-- Course edit form -->
            <form class="form" method="POST">
                <!-- Course Name input field -->
                <div class="form-group">
                    <label for="nameTextField">Course Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Course Name"
                    name="course_name"
                    value="<%= Course.course_name %>"
                    required>
                </div>

                <!-- Course Number input field -->
                <div class="form-group">
                    <label for="numberTextField">Course Number</label>
                    <input type="text" class="form-control"
                    id="numberTextField"
                    placeholder="Enter the Course Number"
                    name="course_number" 
                    value="<%= Course.course_number %>"
                    required>
                </div>

                <!-- Professor Name input field -->
                <div class="form-group">
                    <label for="prof_nameTextField">Prof. name</label>
                    <input type="text" class="form-control"
                    id="prof_nameTextField"
                    placeholder="Enter the name of professor"
                    name="Prof_name" 
                    value="<%= Course.Prof_name %>"
                    required>
                </div>

                <!-- Intake input field -->
                  <div class="form-group">
                    <label for="intakeTextField">Intake</label>
                    <input type="text" class="form-control"
                    id="intakeTextField"
                    placeholder="Enter the intake month"
                    name="intake" 
                    value="<%= Course.intake %>"
                    required>
                </div>

                <!-- Description input field -->
                <div class="form-group">
                    <label for="DescriptionTextArea">Description</label>
                    <input type="text" class="form-control"
                    id="DescriptionTextArea"
                    placeholder="Enter a brief description of the course"
                    name="Description" 
                    value="<%= Course.Description %>"
                    required>
                </div>

                <!-- Submit and Cancel buttons -->
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                <a href="/course-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>
    </div>
</div>

<!-- Including the bottom navigation partial -->
<%- include ../partials/bottom_nav.ejs %>

<!-- Including the footer partial -->
<%- include ../partials/footer.ejs %>
