<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>


<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <br><h1><% title %> </h1> 
            <br> 
            <a href="/course-list/add" class="btn btn-primary" role="button">
            <i class ="fas fa-plus-circle"> </i> Add a course </a>   
        <br><br>
        <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">course_name</th>
                <th class="text-center col-2">course_number</th>
                <th class="text-center col-2">Prof_name</th>
                <th class="text-center col-1">intake</th>
                <th class="text-center col-3">Description</th>
                <th class="text-center col-1"></th>
                <th class="text-center col-1"></th>
            </tr>
            <% for(let count=0;count<CourseList.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= CourseList[count].course_name %></td>
                <td class="text-center col-2"><%= CourseList[count].course_number %></td>
                <td class="text-center col-2"><%= CourseList[count].Prof_name %></td>
                <td class="text-center col-1"><%= CourseList[count].intake %></td>
                <td class="text-center col-3"><%= CourseList[count].Description %></td>
                <td class="text-center col-1">
                    <a href="/course-list/edit/<%= CourseList[count]._id %>" 
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/course-list/delete/<%= CourseList[count]._id %>" 
                        class="btn btn-danger btn-sm">
                        <i class="fas trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
            <%
             } %>
        </table>
    </div>
    </div>
</main>
<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>